<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="https://libregraphicsmeeting.org/lgm/">LGM Organization</a> | <a href="https://github.com/libregraphicsmeeting"><i class="fa fa-code"></i> Source Code</a></p>
    </section>
</section>
